/* color palette from <https://github.com/vuejs/theme> */

/* Skeleton loader styles */
.skeleton {
  width: 100%;
  /* Set size */
  height: 100%;
  /* Set size */
  /* border-radius: 50px; */
  /* Circular shape */
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  /* Gradient for animation */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  /* Shimmer effect */
}

/* Animation for shimmer effect */
@keyframes shimmer {
  0% {
                background-position: -200% 0;
  }

  100% {
                background-position: 200% 0;
  }
}

/* Optional margin */
.skeleton-container {
  display: flex;
  align-items: center;
}

