/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", serif;
}
/* Skeleton loader styles */
.skeleton {
  width: 100%;
  /* Set size */
  height: 100%;
  /* Set size */
  /* border-radius: 50px; */
  /* Circular shape */
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  /* Gradient for animation */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  /* Shimmer effect */
}

/* Animation for shimmer effect */
@keyframes shimmer {
  0% {
                background-position: -200% 0;
  }

  100% {
                background-position: 200% 0;
  }
}

/* Optional margin */
.skeleton-container {
  display: flex;
  align-items: center;
}

